@font-face {
    font-family: 'teste';
    src: url(fontes/idroid.otf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'h1';
    src: url(__MACOSX/fontes/BebasNeue-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

:root{
    --cor1: #a5eec6;
    --cor2: #83e1ad;
    --cor3: #3ddc84;
    --cor4: #2fa866;
    --cor5: #1a5c37;
    --cor6: #063d1e;
}

body {
    background-color: var(--cor1);
}

header {
    background-image: linear-gradient(to top, var(--cor6), var(--cor3));
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
}

* {
    margin: 0px;
    padding: 0px;
}

h1 {
    font-family: 'h1';
    color: white;
    font-size: 50px;
    margin-top: 0px;
    margin-bottom: 20px;
    font-weight: normal;
}

#subt {
    text-align: center;
    padding-bottom: 10px;
    color: white;
    font-size: 15px;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 50px;
    max-width: 600px;
    font-family: Arial, Verdana, Helvetica, sans-serif;
}

nav {
    background-color: var(--cor6);
    padding: 10px;
    font-family: Arial, Verdana, Helvetica, sans-serif;
}

nav>a {
    text-decoration: none;
    color: var(--cor2);
    margin-right: 15px;
    margin-left: 15px;
    padding: 5px;
    background-color: var(--cor6);
    border-radius: 5px;
}

a:hover {
    background-color: var(--cor6);
    color: white;
    transition-duration: 0.6s;
}

main {
    background-color: white;
    display: auto;
    min-width: 300px;
    max-width: 950px;
    margin: auto;
    padding: 20px;
    box-shadow: 3px 3px 10px #00000067;
    border-radius: 10px;
}

article {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;

}

article>h2 {
    text-indent: 8px;
    font-family: 'teste', Arial, Helvetica, sans-serif;
    color: var(--cor5);
    background-image: linear-gradient(to left, #f7fdf900, #83e1ad);
}

article>h1 {
    font-family: 'teste';
    color: var(--cor5);
    font-size: 30px;
    font-weight: normal;
}

article p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    text-indent: 35px;
    font-size: 20px;
    padding: 15px;
    line-height: 1.5em;
}

strong{
    color: var(--cor4);
}

article a {
    color: var(--cor5);
    background-color: var(--cor1);
    padding: 2px 6px;
    text-decoration: none;
}

article a:hover{
    text-decoration: underline;
    color: var(--cor4);
    background-color: var(--cor2);
}

main img {
    width: 100%;
}

main img.bagdrodi {
    max-width: 350px;
    display: block;
    margin: auto;
}

.video {
    background-color: #063d1e;
    margin: 0px -20px 0px -20px;
    padding: 20px;
    padding-bottom: 58%;
    position: relative;
}

.video>iframe {
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    position: absolute;
}

aside {
    background-color: var(--cor2);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px #00000048;
    margin-top: 20px;
}

h3 {
    background-color: var(--cor5);
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
    font-weight: normal;
}

ul {
    columns: 2;
    padding: 10px;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    text-indent: 35px;
    font-size: 20px;
    padding: 15px;
}

footer {
    margin-top: 15px;
    height: 15px;
}

footer p {
    background-color: var(--cor5);
    font-size: 15px;
    color: white;
    text-align: center;
}